/**page**/
body { color:var(--black); background-color:var(--white); font-size:16px;}
div.main {width: 700px; margin: auto; padding:40px 10px;}
::-webkit-scrollbar { width: 15px;}
::-webkit-scrollbar-thumb { background: var(--color);}

/**headings**/
h1 {font-size: 32px; font-weight:bold; margin-bottom: 16px; text-align: center;}
h2 {font-size: 24px; font-weight:bold;}
h3 {font-size: 18px; font-weight:bold;}
hr {border: 0px; height: 2px; background-color:var(--black); margin: 32px 0px;}

/**auto headings**/
h1 {counter-reset: h2}
h2.linkhead:before {counter-increment: h2; content: counter(h2) " ";}
h2.linkhead {counter-reset: h3}
h3.linkhead:before {counter-increment: h3; content: counter(h2) "." counter(h3) " ";}

/**auto toc format**/
ol {counter-reset: item;}
ol>li {display: block;}
ol>li:before {content: counters(item, ".") " "; counter-increment: item;}
ol,ol>li,ol>a,ol>li>a {color:var(--black);font-weight:normal;}
#toc:empty:after{content:"Generating table of contents...";}

/**main text**/
div.sub {text-align:justify; width:80%; margin:auto;}
::selection {color:var(--white); background:var(--color);}
::-moz-selection {color:var(--white); background:var(--color);}
p {text-align:justify; margin: 1em 0em;}

/**inline**/
b, a {color:var(--color); font-weight:bold; text-decoration:none;}
a:hover {text-decoration:underline;}
i {font-style: italic;}
mark {font-style: normal; font-weight: bold; background-color:var(--color); font-size:14px; padding: 1px 4px; color:var(--white); border-radius: 3px;}

/**block**/
code {padding: 16px; font-family: monospace; border-radius: 6px; margin: 1.5em 2em; background-color: var(--black); color: var(--white); display: block;}
img:not(figure>img), video {max-width: 500px; max-height:400px; display:block; margin: 2em auto; border-radius:6px; user-select:none;}
audio {width: 500px; margin: auto; display: block;}
blockquote {padding: 2em; margin: 2em 5em; border: solid 2px var(--black); border-radius: 6px;}
cite {display:block; text-align:right; font-style:normal;}
figure {width:300px; border: solid 2px var(--black); border-radius:6px; overflow: hidden; margin: 2em;}
figure.l {float: left; margin-left: 0px;} figure.r {float: right; margin-right: 0px;}
figure>img {max-height: 200px; object-fit: cover; background-position: center; width: 100%; display:block;}
figure>figcaption {padding: 1em; text-align: justify;}

/**tables**/
caption {background-color:var(--black); color:var(--white); padding: 6px;}
table {background-color:var(--black); margin:auto; margin-bottom: 15px; padding: 2px; width: 67%;}
td {background-color:var(--white);}
th {background-color:var(--color); color:var(--white); font-weight:normal;}
td, th {padding:6px; text-align:center; min-width: 16px;}