@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap');

* {font-family: Work Sans;}
:root {--white: #F0F0F0; --black: #303841; --color: #ff2e63;}

::selection {color:var(--white); background:var(--color);}
::-moz-selection {color:var(--white); background:var(--color);}