@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
:root {
	--support: #888888; /* for support */
	--accent: #24cc46; /* for links */
	--background: #ffffff; /*  for bg */
	--text: #000000; /* for text */
	--muted: #888888; /* for faded stuff */
}

@keyframes load {from {opacity: 0;}}

body {
	background-color: var(--background);
	color: var(--text);
	font-size: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 80rem;
	font-family: "Inter";
	user-select: none;
	animation: 1s load;
}

iframe {
	width: 24rem;
	height: 32rem;
	display: inline-block;
	border: 0;
	font-family: "Inter" !important;
}

.info {
	width: 24rem;
	height: 32rem;
	display: inline-block;
	vertical-align: top;
	user-select: text;
}

::selection {
	background: var(--accent);
	color: var(--background);
}

.info h1 {
	font-size: 1.5rem;
	margin: 1rem;
	margin-bottom: 0;
}

.info h2 {
	font-size: 1rem;
	margin: 1rem;
	margin-top: 0.5rem;
	color: var(--muted);
	font-weight: normal;
	text-transform: uppercase;
	font-family: Inter, Noto Color Emoji;
}

hr {
	outline: none;
	border: none;
	height: 0.125rem;
	width: 25%;
	background-color: var(--muted);
	margin: 1rem 0;
	margin-left: 1rem;
}

.info p {
	font-size: 1rem;
	margin-left: 1rem;
}

.info p span {
	color: var(--support);
}

p a {
	color: var(--accent);
	font-weight: bold;
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

img.art {
	display: inline-block;
	width: 32rem;
	transition: box-shadow 0.2s;
}

img.art:hover {
	box-shadow: -1rem 1rem var(--accent);
}

nav {
	right: 1rem;
	bottom: 1rem;
	position: absolute;
	user-select: none;
}

nav a {
	margin-left: 1rem;
}

nav a img {
	opacity: 0.5;
	height: 1.5rem;
	transition: 0.1s;
}

nav a:hover img {
	opacity: 1;
}