/** changes for mobile on top of style.css **/

html {
	font-size: 24px;
}

body {
	width: 24rem;
}

iframe {
	width: 24rem;
	height: 24rem;
}

img.art {
	width: 24rem;
	height: 24rem;
}

.info {
	display: block;
	height: 26rem;
}

.info nav {
	left: 0;
	padding-bottom: 2rem;
	width: 22rem;
	margin: auto;
	text-align: center;
	border-bottom: solid 0.125rem #505050;
}