@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
@keyframes load {from {opacity: 0;}}

body {
	background-color: #202020;
	color: #dddddd;
	font-size: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 80rem;
	font-family: "Inter";
	user-select: none;
	animation: 1s load;
}

iframe {
	width: 24rem;
	height: 32rem;
	display: inline-block;
	border: 0;
}

.info {
	width: 24rem;
	height: 32rem;
	display: inline-block;
	vertical-align: top;
	user-select: text;
}

::selection {
	background: #dddddd;
	color: #202020;
}

.info h1 {
	font-size: 1.5rem;
	margin: 1rem;
	margin-bottom: 0;
}

.info h2 {
	font-size: 1rem;
	margin: 1rem;
	margin-top: 0;
	color: #888888;
	font-weight: normal;
}

hr {
	outline: none;
	border: none;
	height: 0.125rem;
	background-color: #505050;
	margin: 1rem 0;
	margin-left: 1rem;
}

.info p {
	font-size: 1rem;
	margin-left: 1rem;
}

.info p span {
	color: #888888;
}

p a {
	color: inherit;
	text-decoration: underline;
	transition: 0.1s;
}

p a:hover {
	color: #dddddd;
}

img.art {
	display: inline-block;
	width: 32rem;
}

nav {
	right: 1rem;
	bottom: 1rem;
	position: absolute;
	user-select: none;
}

nav a {
	margin-left: 1rem;
}

nav a img {
	opacity: 0.47;
	height: 1.5rem;
	transition: 0.1s;
}

nav a:hover img {
	opacity: 0.85;
}