@font-face {
  font-family: Bahnschrift-Light;
  src: url(BAHNSCHRIFT.TTF) format("truetype");
}
* {
  font-family: Bahnschrift Light;
  font-weight: light;
}
@font-face {
  font-family: NFGEB;
  src: url(nfgeb.ttf) format("truetype");
}
.nfgeb {
  font-family: NFGEB;
  text-align: center;
  font-size: 25px;
}
.streamlink {
  font-size: 20px;
}
.streamlink :hover{
  text-decoration: underline;
}
body {
  background-image: url("Background.png");
  background-attachment: fixed;
  background-size: cover;
}
.discography {
	background-color: #ffffff;
	width: 850px;
	margin: 30px auto;
	padding: 10px 0px 50px 0px;
	text-align: center;
}
li {
  font-size: 13px;
}
table {
  margin: auto;
  border: 5px solid white;
}
.logobottom {
  height: 30px;
  width: 30px;
  padding: 10px;
}
a {
  color: #000;
  text-decoration: none;
}
.albumart {
  height: 500px;
  width: 500px;
}
.title {
  font-size: 50px;
  padding: 0px;
  text-align: center;
}
.paragraph {
  margin: 30px 20%;
}
td {
  padding: 30px;
  width: 500px;
  align-content: center;
  text-align: center;
}
table {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tracklist {
	text-align: center;
	font-size: 18px;
}
.caption {
	font-size: 20px;
}
.platforms {
}
.homebutton {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.smallart {
  height: 350px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.albumindex {
  width: 100%;
}