@font-face {
  font-family: 'Case';
  src: url('CASEFONT.ttf');
}

#board td {font-family: Case;}

:root {
  --black: #1C1D21;
  --white: #FFF6F0;
  --green: #3cb978;
  --blue: #4a4de8;
  --red: #e42535;
  --yellow: #fec620;
  --board1: #C1C3D7;
  --board2: #635B9A;
}

.tile-black {
  background-color: var(--board2);
}

.tile-white {
  background-color: var(--board1);
}

.selectable:hover {
  box-shadow: inset 0 0 1rem var(--blue);
  cursor: pointer;
}

.selected {
  background-color: var(--blue);
  cursor: pointer;
}

.can-move {
  box-shadow: inset 0 0 1rem var(--yellow);
  cursor: pointer;
}

.can-move:hover {
  background-color: var(--yellow);
}

.can-move.will-capture {
  box-shadow: inset 0 0 1rem var(--red);
}

.can-move.will-capture:hover {
  background-color: var(--red);
}

.piece-black {
  color: var(--black);
}

.piece-white {
  color: var(--white);
}