@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
::-webkit-scrollbar {width: 1rem;}
::-webkit-scrollbar-thumb {background: var(--white);}
::selection {color:var(--black); background:var(--white);}

:root {
  --green: #45C262;
  --black: #333333;
  --white: #F3F3F3;
  --light: #F3F3F330;
  --dark: #F3F3F360;
}

body {
  font-family: 'Noto Sans';
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.125rem;
}

article {
  width: 44rem;
  margin: 4rem auto;
  margin-top: 0;
  text-align: justify;
  animation: enter 0.5s;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 4rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-left: solid 1.5rem var(--green);
  line-height: 100%;
  padding-left: 1rem;
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  font-size: 1rem;
}

th {
  font-weight: normal;
  background-color: var(--light);
}

a {
  color: var(--green);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.gloss {
  color: var(--light);
  float: right;
}

div:hover .gloss {
  color: var(--dark);
}

dl div {
  margin: 1rem 0;
}