@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
body, button {font-family: 'Quicksand', sans-serif;}

:root {--white: #F6F2E6; --black: #493D31; --semiblack: #493D3120; --halfblack: #493D3180; --green: #AEE784; --red: #E5979A; --yellow: #E9EA6A;}

::selection {color:var(--white); background:var(--black);}
::-moz-selection {color:var(--white); background:var(--black);}
::-webkit-scrollbar { width: 15px;}
::-webkit-scrollbar-thumb { background: var(--black);}

a {color: inherit; text-decoration: underline;}
body {background-color: var(--white); color: var(--black);}

.menu {position: fixed; left: 0px; top: 0px; height: 100%; padding: 24px; background-color: var(--white); box-shadow: 0px 0px 24px var(--halfblack); user-select: none; width: 300px;}
.tablespace {position: absolute; left: 348px; width: calc(100% - 348px); overflow: auto;}
.speciestable {margin: 48px auto;}

h1, h2, h3 {font-weight: normal;}
h1 {margin: 0px;}
h2 {text-transform: uppercase; margin: 8px 0px 0px 4px; font-size: 16px;}
h2.right {text-align: right;}
h3 {width: 90%;}
hr {border: none; height: 2px; background-color: var(--black); margin: 24px 0px;}

button:focus {outline: none;}
button {border: none; font-size: 18px; background-color: #00000000; color: var(--black); transition: 0.2s; padding: 4px 8px; border-radius: 6px;}
button:hover {cursor: pointer;}
button:hover:not(.active) {background-color: var(--semiblack); color: var(--black);}
button.active {background-color: var(--black); color: var(--white);}

table {border-collapse: collapse; font-size: 18px; border-radius: 6px; overflow: hidden;}
td, th {padding: 6px 12px; transition: 0.3s; text-align: center;}
th {background-color: var(--black); color: var(--white); font-weight: normal;}

.available {background-color: var(--green);}
.almostavailable {background-color: var(--yellow);}
.unavailable {background-color: var(--red);}

.times {margin: 0px; text-align: center; font-size: 12px; font-weight: bold; user-select: none;}
.times td {padding: 0px; width: 20px; height: 26px;}
.times .yes {background-color: var(--white);}
.times .no {background-color: var(--black);}